/* estilos.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DCD932;
}

header {
    background-color: #212187;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

form input[type="text"] {
    padding: 5px;
    width: 200px;
}

form button[type="submit"] {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

article h1 {
    color: #872121;
}

article h2 {
    color: #0B0BEA;
}

footer {
    background-color: #c9184a;
    color: #fff;
    padding: 10px 0;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    margin-bottom: 5px;
}

footer ul li a {
    color: #FAFAFA;
    text-decoration: none;
}

.image-container {
    text-align: center; /* Centra las imágenes horizontalmente */
}

.image-container img {
    display: inline-block; /* Hace que las imágenes se muestren una al lado de la otra */
    vertical-align: top; /* Alinea las imágenes en la parte superior */
    margin: 0 10px; /* Añade un margen entre las imágenes */
}